.today-weather-city {
    position: absolute;
    top: 25%;
    right: 10%;
    // transform: translate(-50%, -50%);
    max-width: min-content;
    white-space: nowrap;
    // text-align: center;
    // margin-left: 100px;
    
    .today-weather-city__name-city {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .today-weather-city__horizontal-line {
        content: '';
        width: 80%;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        margin: 5px auto 0;
    }

}